
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
    background-size: cover;
}
html,
body,
header,
.view {
    height: 100%;
}

.br {
    border: 2px solid black;
}

.logo {
    width: 100px;
    height: 50px;
}
.login{
    padding: 9px;
}

.prettyline {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


.card{
    height: 200px
}
.mycontainer{
    width: 400px;
    margin: 0 auto; 
   
}

*{
    font-family: 'Noto Sans', sans-serif;
    
}
body{
    background: linear-gradient(90deg, #efffe5, #efffe5);

}
h1{
    text-align: center;
    padding: 10px;
}

.form{    margin-top: 0px;
    padding: 12px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 5px 5px 10px 10px;
    position: relative;
    margin-top: 26%;
    margin-bottom: 15%;
	
}

.avatar-wrapper {
    background-color: #ffffff;
    width: 119px;
    height: 120px;
    position: absolute;
    top: -53px;
    left: 32.5%;
    border-radius: 50%;
  
}

.avatar {
    width: 88px;
    height: 89px;
    position: absolute;
    top: 6px;
    left: 10%;

}

.mini-footer {
    background: #2B412C;
    text-align:center;
    padding:32px 0
   }
   .mini-footer p {
    margin:0;
    line-height:26px;
    font-size:15px;
    color:#999
   }
   .mini-footer p a {
    color:#5867dd
   }
   .mini-footer p a:hover {
    color:#34bfa3
   }
.body_about_us{
    background-color: white;
}
.header_about_us{
    background-color: #c02f2f;
    height: 100%;
}
.First_text{
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    position: absolute;
    top: 210%;
    background-color: #292826;
    left: 51%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 54px solid #292826;
    border-radius: 86px;
}
.hr_aboutUs{
  background-color: #c72941;
  width: 75px;
}

.image_about_us{
    width: 1279px;
    height: 740px;
}

.text_whatWeDo{
    background-color: white;
    text-align: center;
    font-family: 'Lora', serif;
}

.text_theBasic{
    background-color: white;
    text-align: center;
    color: #dc4545;
    font-size: 50px;
    font-family: 'Lora', serif;
}

.pargaph_basicIdea{
    background-color: white;
    text-align: center;
    font-size: 14px;
    margin: 5px 378px 5px 378px;
    font-family: 'Lora', serif;
}
.text_OurTeam{
     background-color: white;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 18px;
}
.image_star{
width: 80px;
height: 40px;
margin: 15px auto 15px 602px;
}   
.image_vision1{
    width: 80px;
height: 66px;
    margin: 5px 0px 5px 270px;
}
.image_teame{
      width: 88px;
    height: 95px;
    margin: 5px 0px 5px 95px;
        
}
.image_star_teame{
       width: 67px;
    height: 30px;
    margin: 5px 0px 5px 105px;
}

.body_for_about_us{
        background-color: white !important; 
}

.text3{
      width: 0px !important;
    height: 83px !important;
    font-size: 10px;
    flex: 0px;
    flex: 15px 17px 23px;
    margin: 5px 170px 10px 16px;
    background-color: white;
}
.row{
        display: flex;
    flex-wrap: wrap;
    margin: 5px 0px 5px 206px;
}